#but {
background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
margin: 10%;
padding: 1% 2%;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #4f3939;
border-radius: 1rem;
display: block;
border-width: 0px;
}
#but1{
background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
margin: 10%;
padding: 1% 2%;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 100% auto;
color: white;            
box-shadow: 0 0 20px #4f3939;
border-radius: 1rem;
display: block;
border-width: 0px;
}
#but2{
background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
margin: 10%;
padding: 1% 2%;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 50% auto;
color: white;            
box-shadow: 0 0 20px #4f3939;
border-radius: 1rem;
display: block;
border-width: 0px;
}
button:hover {
background-position: right center; /* change the direction of the change here */
color: #e3f78c;
/* text-decoration: none; */
}
